[Unit]
Description=Arp Spoofers detector
After=graphical.target

[Service]
Environment="DISPLAY=:0" "XAUTHORITY=/home/#USER#/.Xauthority"
ExecStart=/usr/local/sbin/awdd.sh

[Install]
WantedBy=graphical.target
